<article class="article">
  <div class="@@name article__img" title="@@imgAlt"></div>
  <!-- <img class="img-adalaber @@name" src="@@imgSrc" alt="@@imgAlt" /> -->
  <div class="next-to-img next-to-img-@@number">
    <h4 class="article__name">@@adalaberName</h4>
    <p class="article__bio article__bio-@@number">@@bio</p>
    <div class="article__sm">
      <a class="article__link" href="@@urlTwitter"><i class="fa fa-twitter iconTwist" aria-hidden="true"></i></a>
      <span class="article__bullet">•</span>
      <a class="article__link" href="@@urlLinkedin"><i class="fa fa-linkedin iconTwist" aria-hidden="true"></i></a>
      <span class="article__bullet">•</span>
      <a class="article__link" href="@@urlGithub"><i class="fa fa-github-alt iconTwist" aria-hidden="true"></i></a>
      <span class="article__bullet">•</span>
      <a class="article__link" href="@@urlMail"><i class="fa fa-envelope iconTwist" aria-hidden="true"></i></a>
    </div>
  </div>
</article>
